@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.main {
  height: 100vh;
  background: #7291c7;
  background: linear-gradient(180deg, #7291c7 0%, #ecc5be 100%);
}

.header {
  padding: 15px;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo img {
  width: 150px;
  height: 150px;
  margin-right: 15px;
  pointer-events: none;
}
.header__logo h1,
.header__logo a {
  font-size: 20px;
  color: #ffffff;
  font-weight: 300;
}
.header__logo h1 span,
.header__logo a span {
  color: #e1c0be;
  font-weight: 700;
}
.header__city {
  margin-top: 45px;
  margin-left: 25px;
  font-size: 32px;
  text-transform: uppercase;
  color: #ecebea;
  font-weight: 400;
}

.weather {
  max-width: 1000px;
  background-color: #fff;
  background-color: #6a6acf;
  border-radius: 25px;
  margin: 0 auto;
}
.weather__main {
  display: flex;
  justify-content: space-between;
  padding: 70px 120px 25px 120px;
  align-items: center;
}
.weather__info-city {
  font-size: 28px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 48px;
}
.weather__info-date {
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
}
.weather__info-img {
  margin-top: 15px;
  height: 120px;
  width: 120px;
  background: url("/img/icons/cloud.svg") center/cover no-repeat;
}
.weather__info-descr {
  font-size: 28px;
  color: #ffffff;
  font-weight: 500;
}
.weather__deg {
  font-family: "Titillium Web", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 42px;
  color: #ffffff;
}
.weather__deg-current {
  font-size: 124px;
  font-weight: 200;
  color: #ffffff;
}
.weather__deg-add {
  margin-top: 15px;
  display: flex;
}
.weather__deg-max {
  color: #e1c0be;
}
.weather__deg-max span {
  color: #fff;
}
.weather__deg-min {
  color: #939FC4;
}

@media (max-width: 767px) {
  .main {
    padding: 15px;
  }

  .weather__main {
    padding: 15px;
  }

  .weather__deg {
    font-size: 32px;
  }
  .weather__deg-current {
    font-size: 72px;
  }
}