@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.main {
  min-height: 100vh;
  background: url("/img/main_bg.jpg") center/cover no-repeat;
}

.header {
  padding: 15px;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo img {
  width: 150px;
  height: 150px;
  margin-right: 15px;
  pointer-events: none;
}
.header__logo h1,
.header__logo a {
  font-size: 20px;
  color: #ffffff;
  font-weight: 300;
}
.header__logo h1 span,
.header__logo a span {
  color: #262626;
  font-weight: 700;
}
.header__city {
  margin-top: 45px;
  margin-left: 25px;
  font-size: 32px;
  text-transform: uppercase;
  color: #ecebea;
  font-weight: 400;
}

.app {
  max-width: 960px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.18);
  margin: 0 auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.app .info {
  display: flex;
  justify-content: space-between;
  padding: 70px 120px 220px 120px;
  align-items: center;
}
.app .info__date {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app .info__date-time {
  font-size: 64px;
  color: #262626;
  letter-spacing: 1.5px;
  font-weight: 200;
}
.app .info__date-day {
  margin-top: 6px;
  font-size: 18px;
  color: #262626;
  letter-spacing: 0.6px;
  font-weight: 500;
}
.app .info__location {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.app .info__location-city {
  font-size: 28px;
  font-weight: 400;
  color: #262626;
}
.app .info__location-country {
  margin-top: 6px;
  font-size: 14px;
  color: #262626;
  letter-spacing: 0.6px;
  font-weight: 300;
}
.app .weather {
  padding: 25px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  color: #fff;
}
.app .weather__current {
  flex: 1 1 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}
.app .weather__current-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  font-size: 16px;
  font-weight: 500;
}
.app .weather__current-image {
  object-fit: cover;
  object-position: center;
  width: 120px;
  height: 120px;
  pointer-events: none;
}
.app .weather__current-forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app .weather__current-day {
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  padding: 9px;
}
.app .weather__current-deg {
  margin-top: 15px;
  font-size: 48px;
}
.app .weather__next {
  display: flex;
  flex: 1 1 70%;
  justify-content: space-between;
}
.app .weather__next .weather__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app .weather__next .weather__item-day {
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  padding: 7px;
  margin-bottom: 15px;
}
.app .weather__next .weather__item-image {
  width: 75px;
  height: 75px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 15px;
  pointer-events: none;
}
.app .weather__next .weather__item-deg {
  font-size: 22px;
}

@media (max-width: 767px) {
  .main {
    padding: 15px;
  }

  .app .info {
    padding: 15px 15px 45px 15px;
  }
}