@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "PT Sans", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.main {
  height: 100vh;
  background: #4747ff;
  background: linear-gradient(180deg, #4747ff 0%, rgba(0, 212, 255, 0.8631827731) 100%);
}

.header {
  padding: 15px;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo img {
  width: 150px;
  height: 150px;
  margin-right: 15px;
  pointer-events: none;
}
.header__logo h1,
.header__logo a {
  font-size: 20px;
  color: #ffffff;
  font-weight: 100;
}
.header__logo h1 span,
.header__logo a span {
  color: #63fd63;
  font-weight: 700;
}
.header__city {
  margin-top: 45px;
  margin-left: 25px;
  font-size: 32px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 2px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__dialog {
  padding-top: 75px;
  width: 500px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.modal__dialog-content {
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}
.modal__dialog-content select {
  font-family: "PT Sans", sans-serif;
  color: #262626;
  font-size: 18px;
  width: 200px;
  height: 40px;
  padding-left: 5px;
  text-align: center;
  border-radius: 5px;
  background-color: #ebe5e5;
}
.modal__dialog-content h3 {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 300;
  color: #f1f1f1;
}