@import "null.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.main {
  min-height: 100vh;
  // background: rgb(114, 145, 199);
  // background: linear-gradient(
  //   180deg,
  //   rgba(114, 145, 199, 1) 0%,
  //   rgba(236, 197, 190, 1) 100%
  // );
  background: url("/img/main_bg.jpg") center/cover no-repeat;
}
.header {
  padding: 15px;
  &__logo {
    display: flex;
    align-items: center;
    img {
      width: 150px;
      height: 150px;
      margin-right: 15px;
      pointer-events: none;
    }
    h1,
    a {
      font-size: 20px;
      color: #ffffff;
      font-weight: 300;
      span {
        color: #262626;
        font-weight: 700;
      }
    }
  }
  &__city {
    margin-top: 45px;
    margin-left: 25px;
    font-size: 32px;
    text-transform: uppercase;
    color: rgb(236, 235, 234);
    font-weight: 400;
  }
}

.app {
  max-width: 960px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.18);
  margin: 0 auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .info {
    display: flex;
    justify-content: space-between;
    padding: 70px 120px 220px 120px;
    align-items: center;
    &__date {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-time {
        font-size: 64px;
        color: #262626;
        letter-spacing: 1.5px;
        font-weight: 200;
      }
      &-day {
        margin-top: 6px;
        font-size: 18px;
        color: #262626;
        letter-spacing: 0.6px;
        font-weight: 500;
      }
    }
    &__location {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      &-city {
        font-size: 28px;
        font-weight: 400;
        color: #262626;
      }
      &-country {
        margin-top: 6px;
        font-size: 14px;
        color: #262626;
        letter-spacing: 0.6px;
        font-weight: 300;
      }
    }
  }
  .weather {
    padding: 25px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    color: #fff;
    &__current {
      flex: 1 1 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 25px;
      &-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 15px;
        font-size: 16px;
        font-weight: 500;
      }
      &-image {
        object-fit: cover;
        object-position: center;
        width: 120px;
        height: 120px;
        pointer-events: none;
      }
      &-forecast {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &-day {
        font-size: 14px;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 25px;
        padding: 9px;
      }
      &-deg {
        margin-top: 15px;
        font-size: 48px;
      }
    }
    &__next {
      display: flex;
      flex: 1 1 70%;
      justify-content: space-between;
      .weather__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-day {
          font-size: 12px;
          background-color: rgba(0, 0, 0, 0.4);
          border-radius: 25px;
          padding: 7px;
          margin-bottom: 15px;
        }
        &-image {
          width: 75px;
          height: 75px;
          object-fit: cover;
          object-position: center;
          margin-bottom: 15px;
          pointer-events: none;
        }
        &-deg {
          font-size: 22px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .main {
    padding: 15px;
  }
  .app {
    .info {
      padding: 15px 15px 45px 15px;
    }
  }
}
