@import "null.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.main {
  height: 100vh;
  background: rgb(114, 145, 199);
  background: linear-gradient(
    180deg,
    rgba(114, 145, 199, 1) 0%,
    rgba(236, 197, 190, 1) 100%
  );
}
.header {
  padding: 15px;
  &__logo {
    display: flex;
    align-items: center;
    img {
      width: 150px;
      height: 150px;
      margin-right: 15px;
      pointer-events: none;
    }
    h1,
    a {
      font-size: 20px;
      color: #ffffff;
      font-weight: 300;
      span {
        color: #e1c0be;
        font-weight: 700;
      }
    }
  }
  &__city {
    margin-top: 45px;
    margin-left: 25px;
    font-size: 32px;
    text-transform: uppercase;
    color: rgb(236, 235, 234);
    font-weight: 400;
  }
}

.weather {
  max-width: 1000px;
  background-color: #fff;
  // background: url("/img/sky.png") center/cover no-repeat;
  background-color: rgb(106, 106, 207);
  border-radius: 25px;
  margin: 0 auto;
  &__main {
    display: flex;
    justify-content: space-between;
    padding: 70px 120px 25px 120px;
    align-items: center;
  }
  &__info-city {
    font-size: 28px;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 48px;
  }
  &__info-date {
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
  }
  &__info-img {
    margin-top: 15px;
    height: 120px;
    width: 120px;
    background: url("/img/icons/cloud.svg") center/cover no-repeat;
  }
  &__info-descr {
    font-size: 28px;
    color: #ffffff;
    font-weight: 500;
  }
  &__deg {
    font-family: "Titillium Web", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 42px;
    color: #ffffff;
    &-current {
      font-size: 124px;
      font-weight: 200;
      color: #ffffff;
    }
    &-add {
      margin-top: 15px;
      display: flex;
    }
    &-max {
      color: #e1c0be;
      span {
        color: #fff;
      }
    }
    &-min {
      color: #939FC4;
    }
  }
}
