@import "null.scss";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
body {
  font-family: "PT Sans", sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.main {
  height: 100vh;
  background: rgb(71, 71, 255);
  background: linear-gradient(
    180deg,
    rgba(71, 71, 255, 1) 0%,
    rgba(0, 212, 255, 0.8631827731092436) 100%
  );
}
.header {
  padding: 15px;
  &__logo {
    display: flex;
    align-items: center;
    img {
      width: 150px;
      height: 150px;
      margin-right: 15px;
      pointer-events: none;
    }
    h1, a{
      font-size: 20px;
      color: #ffffff;
      font-weight: 100;
      span {
        color: rgb(99, 253, 99);
        font-weight: 700;
      }
    }
  }
  &__city {
    margin-top: 45px;
    margin-left: 25px;
    font-size: 32px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    
  }
}
